<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtelierTomato.MediaDB.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AtelierTomato.MediaDB.Client.Properties.Settings>
            <setting name="apiBaseUrl" serializeAs="String">
                <value>https://localhost:7072</value>
            </setting>
        </AtelierTomato.MediaDB.Client.Properties.Settings>
    </userSettings>
</configuration>